 /**
 * Separação do css em pasta nova de facil entendimento
 * também sendo ideal para novas estilizações futuras(ex:. modo escuro)
 */
 
 * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Lato", sans-serif;
      }

      main {
        width: 100%;
        height: 100dvh;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #222222;
        gap: 15px;
      }

      i {
        font-size: 32px;
      }

      h1 {
        font-size: 22px;
      }

      a {
        display: inline-block;
        margin-top: 10px;
        color: #006be6;
      }