<header>
  <div class="wrapper">
    <a href="/">henriquefontes.dev</a>
    <nav>
      <a href="https://github.com/henriquefontes" target="_blank">
        <i class="fa-brands fa-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/henriquefontes" target="_blank">
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </nav>
  </div>
</header>
