<div class="posts-container">
  <% for (const group in postsByMonth) { %>
  <section class="posts-group">
    <h2><%- group %></h2>
    <hr />
    <ul>
      <% for (const post of postsByMonth[group]) { %>
      <li>
        <a href="<%- post.path %>"> <%- post.title %> </a>
      </li>
      <% } %>
    </ul>
  </section>
  <% } %>
</div>
