* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.wrapper {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

body > header {
  width: 100%;
  padding: 20px 10px;
  border-bottom: 1px solid #ececec;
  backdrop-filter: blur(30px);
  position: sticky;
  top: 0;
}

body > header > .wrapper {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 900;
    color: #222222;
  }

  & nav {
    display: flex;
    gap: 10px;

    & a {
      color: #222222;
      font-size: 20px;
    }

    & a:hover {
      color: #424242;
    }
  }
}

main.post-container {
  padding: 50px 20px;

  & .banner-wrapper {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    margin-bottom: 20px;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  & .post-date {
    display: block;
    color: #757575;
    font-size: 14px;
    margin-bottom: 30px;
    display: flex;
    gap: 5px;
    align-items: center;
  }

  > h1 {
    text-align: center;
    font-weight: 900;
    color: #222222;
    margin-bottom: 50px;
  }
}
